.main {
    width: 980px;
    height: 455px;
    margin-left: 220px;
    margin-top: 10px;
}
.focus {
    position: relative;
    float: left;
    width: 721px;
    height: 455px;
    overflow: hidden;
}
.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}
.focus ul li {
    float: left;
}
.arrow-l,
.arrow-r {
    display: none;
	position: absolute;
	top: 50%;
	margin-top: -20px;
	width: 24px;
	height: 40px;
	background: rgba(0, 0, 0, .3);
	text-align: center;
	line-height: 40px;
	color: #fff;
	font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}
.arrow-r {
	right: 0;
}
.circle {
	position: absolute;
	bottom: 10px;
	left: 50px;
}
.circle li {
	float: left;
	width: 8px;
	height: 8px;
	/*background-color: #fff;*/
	border: 2px solid rgba(255, 255, 255, 0.5);
	margin: 0 3px;
	border-radius: 50%;
	/*鼠标经过显示小手*/
	cursor: pointer;

}
.current {
	background-color: #fff;
}
.newsflash {
    float: right;
    width: 250px;
    height: 455px;
}
.news {
    height: 165px;
    border: 1px solid #e4e4e4;
}
.news .news-hd {
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
}
.news .news-hd h5 {
    float: left;
    font-size: 14px;
}
.news .news-hd .more {
    float: right;
}
.news .news-hd .more::after {
    margin-left: 5px;
    font-family: 'icomoon';
    content: '\ea42';
}
.news .news-bd {
    padding: 5px 15px 0;
}
.news .news-bd ul li {
    height: 24px;
    line-height: 24px;
    /* 超出省略号 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}
.lifeservice ul {
    width: 252px;
}
.lifeservice ul li {
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}
.lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background-color: palegoldenrod;
    background: url(../images/icons.png) no-repeat;
}
.lifeservice ul li .a {
    background-position: -17px -16px;
}
.lifeservice ul li .b {
    background-position: -78px -16px;
}
.lifeservice ul li .c {
    background-position: -141px -16px;
}
.lifeservice ul li .d {
    background-position: -205px -16px;
}
.lifeservice ul li .e {
    background-position: -17px -88px;
}
.lifeservice ul li .f {
    background-position: -78px -88px;
}
.lifeservice ul li .g {
    background-position: -141px -88px;
}
.lifeservice ul li .h {
    background-position: -205px -88px;
}
.lifeservice ul li .i {
    background-position: -17px -158px;
}
.lifeservice ul li .j {
    background-position: -78px -158px;
}
.lifeservice ul li .k {
    background-position: -141px -158px;
}
.lifeservice ul li .l {
    background-position: -205px -158px;
}

.bargain {
    margin-top: 5px;
}
/* 推荐模块 */
.recom {
    margin-top: 12px;
    height: 163px;
    background-color: #ebebeb;
}
.recom-hd {
    height: 163px;
    width: 205px;
    float: left;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
    cursor: pointer;
}
.recom-bd {
    float: left;
}
.recom-bd ul li img {
    width: 248px;
    height: 163px;
    cursor: pointer;
}
.recom-bd ul li {
    position: relative;
    padding-top: 5px;
    float: left;
}
.recom-bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}
/* 猜你喜欢模块 */
.favie {
    margin-top: 10px;
    height: 210px;
    background-color: rgb(235, 235, 235);
}
.favie_top {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #ddd;
}
.favie_top .l {
    float: left;
    margin-left: 10px;
    font-size: 16px;
}
.favie_top .r {
    float: right;
}
.favie_lis {
    height: 163px;
    background-color:  rgb(235, 235, 235);
}
.favie_lis ul {
    text-align: center;
}
.favie_lis ul li img {
    width: 235px;
    height: 161px;
    cursor: pointer;
}
.favie_lis ul li {
    float: left;
    position: relative;
    margin-top: 10px;
}
.favie_lis ul li:nth-child(-n+4)::after {
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    height: 145px;
    width: 1px;
    background-color: #dedd;
}
/* 家用电器模块 */
.floor .w {
    margin-top: 30px;
}
.floor .box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.floor .box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
    font-weight: 400;
}
.floor .tab_list {
    line-height: 30px;
    float: right;
}
.floor .tab_list ul li {
    float: left;
}
.floor .tab_list ul li a {
    margin: 0 15px;
}
.floor .box_bd {
    height: 361px;
}
.tab_list_item>div {
    float: left;
    height: 361px;
}
.col_210 {
    width: 210px;
    background-color: #f9f9f9;
    text-align: center;
    
}
.col_210 ul {
    padding-left: 12px;
}
.box_bd li {
    overflow: hidden;
}
.col_210 a img {
    margin-top: 20px;
}
.col_210 a img,.col_329 img:hover {
    transform: translateY(-5px);
}
.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
    z-index: 2;
}
.col_329 {
    width: 329px;
}
.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}
.col_219 {
    width: 219px;
}
.box_bd img{
    transition: all .3s;
    overflow: hidden;
}
.box_bd img:hover {
    margin-left: 8px;
}
.favie_lis img {
    transition: all .3s;
}
.favie_lis img:hover {
    margin-left: 8px;
}
.bb {
    /* a如果包含有宽度的盒子，啊需要装换为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}
/*电梯导航*/
.fixedtool {
	position: fixed;
	top: 150px;
	left: 50%;
	margin-left: -676px;
	width: 66px;
    background-color: #fff;
    display: none;
}
.fixedtool li {
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 12px;
	border-bottom: 1px solid #ccc;
	cursor: pointer;
}
.fixedtool .current {
    background-color: #c81623;
	color: #fff;
}
.fixedtool p {
    display: none;
    position: absolute;
    left: 66px;
    top: 0;
    width: 200px;
    height: 300px;
    background-color: purple;
}
/* .fixedtool .current {
	background-color: #c81623;
	color: #fff;
} */
